@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-bold.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-bold-italic.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-bold-italic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-light.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-light-italic.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-light-italic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-medium.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-medium-italic.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-medium-italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-regular.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-regular-italic.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-regular-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
